In [66]:
import pandas as pd
import numpy as np

In [36]:
ins = pd.read_csv('InstallmentsTable.csv')
ins.set_index(['borrower_id', 'loan_id'], inplace=True)

## Check Which Loans Have Defaulted  (Miss n installments In a row)

In [37]:
#n = number of installments in a row that you must miss in a row before a default
#WARNING, this should probably be different depending on your installment period
n = 9
#Mask for maximum lag
lag_mask = ins.groupby(level=1).shift(n).due_date.isnull()

#Mask for defaults (must occur beyond lag window if at beginning of installment series)
default_mask = ins.paid_amount.isnull()
for i in range(1, n):
    default_mask = default_mask & ins.groupby(level=1).shift(i).paid_amount.isnull()
    
default_mask = default_mask & ~lag_mask

## Calculate Default Date

In [69]:
ins['due_date_previous'] = ins.groupby(level=1).shift(1)['due_date']
ins.due_date = pd.to_datetime(ins.due_date)
ins.due_date_previous = pd.to_datetime(ins.due_date_previous)
ins['installment_interval'] = (ins.due_date.dt.date - ins.due_date_previous.dt.date).dt.days

In [70]:
defaults = ins[default_mask].groupby(level = ['borrower_id', 'loan_id']).agg({'due_date':'min'})
defaults.columns = ['default_date']

In [71]:
targets = (ins.
join(defaults[['default_date']]).
groupby(level = ['borrower_id', 'loan_id']).
agg({'default_date':{'default_date': 'min', 'default_flag':lambda x: max(~x.isnull())}, 
    'installment_interval':{'installment_peroid_min':'min', 'installment_peroid_max':'max', 'installment_peroid_median':'median'}}))

targets.columns = targets.columns.droplevel()

targets.head(10)

                           default_date default_flag  installment_peroid_min  \
borrower_id loan_id
129         1                       NaT        False                    28.0
            58      2013-02-04 10:38:55         True                    28.0
130         2                       NaT        False                    28.0
            59      2011-10-22 07:57:19         True                    28.0
131         3                       NaT        False                    28.0
            60      2011-10-22 07:58:00         True                    28.0
146         4                       NaT        False                    30.0
            69                      NaT        False                    28.0
            408                     NaT        False                    28.0
            4393                    NaT        False                    28.0

                     installment_peroid_median  installment_peroid_max
borrower_id loan_id
129         1                             31.0                    31.0
            58                            31.0                   273.0
130         2                             31.0                    31.0
            59                            31.0                    31.0
131         3                             31.0                    31.0
            60                            31.0                    31.0
146         4                             31.0                    31.0
            69                            31.0                   122.0
            408                           31.0                    91.0
            4393                          31.0                    32.0

In [72]:
targets.to_csv('defaults.csv')

In [74]:
#check calculation
#ins[ins.index.get_level_values('borrower_id') == 129][['due_date', 'paid_amount']]

## Check lags between installments

In [69]:
check = ins.copy() 
check['due_dater'] = ins.groupby(level=1).shift(1)['due_date']
check.due_date = pd.to_datetime(check.due_date)
check.due_dater = pd.to_datetime(check.due_dater)

In [70]:
(check[~lag_mask].due_date.dt.date - check[~lag_mask].due_dater.dt.date).value_counts()

7 days      1597585
31 days       41474
30 days       29340
28 days        4620
29 days        3854
14 days        3486
21 days        1860
42 days        1092
8 days         1089
6 days          874
35 days         826
32 days         711
49 days         595
56 days         398
61 days         346
63 days         256
0 days          245
91 days         165
70 days         163
92 days         157
77 days         136
84 days          98
62 days          88
60 days          85
122 days         74
98 days          58
105 days         43
59 days          43
90 days          40
121 days         36
             ...
287 days          1
668 days          1
127 days          1
196 days          1
334 days          1
97 days           1
343 days          1
427 days          1
216 days          1
5 days            1
915 days          1
609 days          1
406 days          1
462 days          1
64 days           1
197 days          1
244 days          1
329 days          1
202 days          1
448 days          1
428 days          1
396 days          1
730 days          1
85 days           1
237 days          1
483 days          1
124 days          1
9 days            1
595 days          1
486 days          1
dtype: int64