In [62]:
import pandas as pd

In [63]:
ins = pd.read_csv('InstallmentsTable.csv')
ins.set_index(['borrower_id', 'loan_id'], inplace=True)

## Check Which Loans Have Defaulted  (Miss 4 installments In a row)

In [64]:
#Mask for maximum lag
lag_mask = ins.groupby(level=1).shift(1).due_date.isnull()
#Mask for defaults (must occur beyond lag window if at beginning of installment series)
default_mask = (ins.groupby(level=1).shift(3).paid_amount.isnull() &
                ins.groupby(level=1).shift(2).paid_amount.isnull() & 
                ins.groupby(level=1).shift(1).paid_amount.isnull() & 
                ins.paid_amount.isnull() & ~lag_mask)

## Calculate Default Date

In [65]:
defaults = ins[default_mask].groupby(level = ['borrower_id', 'loan_id']).agg({'due_date':'min'})
defaults.columns = ['default_date']

In [66]:
targets = (ins.
join(defaults[['default_date']]).
groupby(level = ['borrower_id', 'loan_id']).
agg({'default_date':{'default_date': 'min', 'default_flag':lambda x: max(~x.isnull())}}))

targets.columns = targets.columns.droplevel()

targets.head(10)

                            default_date default_flag
borrower_id loan_id
129         1                        NaN        False
            58       2012-09-04 10:38:55         True
130         2                        NaN        False
            59       2011-02-22 07:57:19         True
131         3                        NaN        False
            60       2011-02-22 07:58:00         True
146         4                        NaN        False
            69                       NaN        False
            408                      NaN        False
            4393                     NaN        False

In [67]:
targets.to_csv('defaults.csv')

In [68]:
#check calculation
#ins[ins.index.get_level_values('borrower_id') == 131][['due_date', 'paid_amount']]

## Check lags between installments

In [69]:
check = ins.copy() 
check['due_dater'] = ins.groupby(level=1).shift(1)['due_date']
check.due_date = pd.to_datetime(check.due_date)
check.due_dater = pd.to_datetime(check.due_dater)

In [70]:
(check[~lag_mask].due_date.dt.date - check[~lag_mask].due_dater.dt.date).value_counts()

7 days      1597585
31 days       41474
30 days       29340
28 days        4620
29 days        3854
14 days        3486
21 days        1860
42 days        1092
8 days         1089
6 days          874
35 days         826
32 days         711
49 days         595
56 days         398
61 days         346
63 days         256
0 days          245
91 days         165
70 days         163
92 days         157
77 days         136
84 days          98
62 days          88
60 days          85
122 days         74
98 days          58
105 days         43
59 days          43
90 days          40
121 days         36
             ...
287 days          1
668 days          1
127 days          1
196 days          1
334 days          1
97 days           1
343 days          1
427 days          1
216 days          1
5 days            1
915 days          1
609 days          1
406 days          1
462 days          1
64 days           1
197 days          1
244 days          1
329 days          1
202 days          1
448 days          1
428 days          1
396 days          1
730 days          1
85 days           1
237 days          1
483 days          1
124 days          1
9 days            1
595 days          1
486 days          1
dtype: int64